* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1a1a1a;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #1c1c1c;
}

#nav-left {
  text-align: left;
}

#nav-right {
  text-align: right;
}

#nav li {
  color: #dadada;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
}

#nav li:hover {
  background: #262626;
  transition: background .3s;
}

#nav .router-link-exact-active li {
  background: #000;
}

.logo {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: #1C1C1C;
  font-size: fit-content;
  color: #ffff;
  height: 8vh;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}