[submodule "Sagittarius-Server"]
	path = Sagittarius-Server
	url = https://github.com/IMC-UAS-Krems/Sagittarius-Server
[submodule "Sagittarius-Client"]
	path = Sagittarius-Client
	url = https://github.com/IMC-UAS-Krems/Sagittarius-Client
