[submodule "compiler"]
	path = src/compiler
	url = https://github.com/IMC-UAS-Krems/Sag-c.git
	branch = main
[submodule "grafana_dashboard"]
	path = src/grafana_dashboard
	url = https://github.com/IMC-UAS-Krems/GrafanaDashboards.git
	branch = dataskop
[submodule "web_server_client"]
	path = src/web_server_client
	url = https://github.com/IMC-UAS-Krems/sag-client-server.git
	branch = Files-tree-view
[submodule "dash_dashboard"]
	path = src/dash_dashboard
	url = https://github.com/IMC-UAS-Krems/Sagittarius-Dash-Dashboard.git
	branch = master
[submodule "deployer"]
	path = src/deployer
	url = https://github.com/IMC-UAS-Krems/Sagittarius-Deployment.git
	branch = master
