[submodule "src/server"]
	path = src/server
	url = https://github.com/IMC-UAS-Krems/Sagittarius-Server
	branch = main
[submodule "src/client"]
	path = src/client
	url = https://github.com/IMC-UAS-Krems/Sagittarius-Client
	branch = main
[submodule "src/compiler"]
	path = src/compiler
	url = https://github.com/IMC-UAS-Krems/Sagc
    branch = main

