* {
  margin: 0;
  padding: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background-color: #1c1c1c;
}

#nav-left {
  text-align: left;
}

#nav li {
  color: #dadada;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
}

#nav li:hover {
  background: #262626;
  transition: background 0.3s;
}

#nav li:active {
  background: #000;
}

.basic-grid {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.card {
  flex-grow: 2;
  justify-content: left;
  align-items: left;
  background: #353535;
  font-size: fit-content;
  font-family: "Roboto", sans-serif;
  color: #ffff;
  height: 80vh;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spaced {
  margin: 1rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: default;
}